# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Model Artifacts
# ==========================
*.pkl

# ==========================
# Generated Outputs
# ==========================
outputs/*
!outputs/.gitkeep

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db